[invariant]

[profile.default]
libs = [
    'gitmodules',
    'node_modules',
]
out = 'cache/foundry/out'
evm_version = 'cancun'
gas_limit = '40000000000'
optimizer = true
optimizer_runs = 200
via_ir = false
allow_internal_expect_revert = true
always_use_create_2_factory = true
ignored_warnings_from = ['gitmodules']

[profile.core]
src = 'silo-core/contracts'
out = 'cache/foundry/out/silo-core'
broadcast = 'silo-core/broadcast'

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"},
    { access = "read", path = "./silo-core/deploy/silo/_siloImplementations.json"},
    { access = "read", path = "./silo-core/deploy/silo/_siloDeployments.json"},
    { access = "read", path = "./silo-core/scripts/airdrop/output.json"}
]

[profile.core_with_test]
src = 'silo-core/contracts'
test = 'silo-core/test/foundry'
out = 'cache/foundry/out/silo-core'
broadcast = 'silo-core/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"},
    { access = "read", path = "./silo-core/deploy/silo/_siloDeployments.json"},
    { access = "read", path = "./silo-core/deploy/silo/_siloImplementations.json"},
    { access = "read", path = "./silo-core/scripts/airdrop/output.json"}
]

[profile.core-with-invariants]
src = 'silo-core/contracts'
test = 'silo-core/test/invariants'
out = 'cache/foundry/out/silo-core'
broadcast = 'silo-core/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"}
]

[profile.echidna_leverage]
src = 'silo-core/contracts'
test = 'silo-core/test/echidna-leverage'
out = 'cache/foundry/out/echidna-leverage'
broadcast = 'silo-core/echidna/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"}
]

[profile.echidna_defaulting]
src = 'silo-core/contracts'
test = 'silo-core/test/echidna-defaulting/siloHookV2'
out = 'cache/foundry/out/echidna-defaulting/siloHookV2'
broadcast = 'silo-core/echidna/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

[profile.echidna_hookV3]
src = 'silo-core/contracts'
test = 'silo-core/test/echidna-defaulting/siloHookV3'
out = 'cache/foundry/out/echidna-defaulting/siloHookV3'
broadcast = 'silo-core/echidna/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']


[profile.core_test]
src = 'silo-core/test/foundry'
out = 'cache/foundry/out/silo-core'
broadcast = 'silo-core/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"},
    { access = "read", path = "./silo-core/deploy/silo/_siloDeployments.json"},
    { access = "read", path = "./silo-core/deploy/silo/_siloImplementations.json"},
    { access = "read", path = "./silo-core/scripts/airdrop/output.json"}
]

[profile.default.fmt]
# Maximum line length where formatter will try to wrap the line
line_length = 118
# Number of spaces per indentation level
tab_width = 4
# Print spaces between brackets
bracket_spacing = false
# Style of uint/int256 types
int_types = "long"
# If function parameters are multiline then always put the function attributes on separate lines
func_attrs_with_params_multiline = true
# Style of quotation marks
quote_style = "double"
# Style of underscores in number literals
number_underscore = "preserve"

[profile.vaults]
src = 'silo-vaults/contracts'
out = 'cache/foundry/out/silo-vaults'
broadcast = 'silo-vaults/broadcast'

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"}
]

[profile.vaults_tests]
src = 'silo-vaults/test/foundry'
out = 'cache/foundry/out/silo-vaults'
broadcast = 'silo-vaults/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"}
]

[profile.vaults_with_tests]
src = 'silo-vaults/contracts'
test = 'silo-vaults/test/foundry'
out = 'cache/foundry/out/silo-vaults'
broadcast = 'silo-vaults/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"},
    { access = "read", path = "./silo-core/test/foundry/data/"},
    { access = "read", path = "./silo-core/deploy/input/"}
]

[profile.x_silo]
src = 'x-silo/contracts'
test = 'x-silo/test/foundry'
out = 'cache/foundry/out/x-silo'
broadcast = 'x-silo/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

[profile.x_silo_tests]
src = 'x-silo/test/foundry'
out = 'cache/foundry/out/x-silo'
broadcast = 'x-silo/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

[profile.x_silo_echidna]
src = 'x-silo/contracts'
test = 'x-silo/test/echidna'
out = 'cache/foundry/out/x-silo'
broadcast = 'x-silo/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

fs_permissions = [
    { access = "read", path = "./cache/foundry/"}
]

[profile.oracles]
src = 'silo-oracles/contracts'
out = 'cache/foundry/out/silo-oracles'
test = 'silo-oracles/test'
broadcast = 'silo-oracles/broadcast'
ignored_error_codes = ['code-size', 'init-code-size']

[fuzz]
runs = 500
max_test_rejects = 131072 # 65536 * 2 (doubled a default value)

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
sepolia = "${RPC_SEPOLIA}"
arbitrum_one = "${RPC_ARBITRUM}"
optimism = "${RPC_OPTIMISM}"
anvil = "${RPC_ANVIL}"
sonic = "${RPC_SONIC}"
ink = "${RPC_INK}"
okx = "${RPC_OKX}"

[etherscan]
sonic = { key = "${VERIFIER_API_KEY_SONIC}", chain = 146, url = "${VERIFIER_URL_SONIC}" }
ink = { key = "", chain = 57073, url = "https://explorer.inkonchain.com/api/", verifier = "blockscout" }

[lint]
exclude_lints = [
    "mixed-case-function",
    "mixed-case-variable",
    "unwrapped-modifier-logic",
    "pascal-case-struct"
]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
